@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
.btn {
  font-size: 13px;
  font-weight: 900;
  border-radius: 500px;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  border: none;
  margin: 5px;
  padding: 14px 14px;
}
.btn.btn-primary {
  background-color: #4d73c7;
  width: 100%;
}
.btn.btn-primary:hover {
  background-color: #4d73c7;
}
.btn.btn-dark {
  background-color: #000;
  width: 100%;
}
.btn.btn-dark:hover {
  background-color: #3f3f3f;
}
.btn.btn-outline-secondary {
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  width: 100%;
}
.btn.btn-outline-secondary:hover {
  background-color: #616467;
  color: #fff;
}
.btn.btn-success {
  background-color: #15883e;
}
.btn.btn-success:hover {
  background-color: #1db954;
}

/****************ICONS**************/
.library {
  background-color: #000;

  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
}
.library::after {
  content: "\\";
  position: relative;
  font-size: 19px;
  margin: 0px;
  top: 1px;
}
/******************CHECK BOX*************/

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  background-color: transparent;
  border: solid 0.5px #2c8815;
  border-radius: 4px;
}
/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2c8815;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(32deg);
}

/* Add space between header and body */
.spacer {
  border-top: 1px solid #b0b3b8;
  margin-top: 20px;
  text-align: center;
}
.spacer span {
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  top: -10px;
}

/* BODY */
label {
  font-weight: 700;
}
input::placeholder {
  font-size: 13px;
}
input[type="password"],
input[type="email"] {
  border-radius: 0;
}
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #4a6aaf;
  box-shadow: none;
}
