/*#region bodystyles*/
body {
	height: 99vh;
}
:is(h1, h2, h3, h4, h5, h6) {
	font-weight: 700;
}
.singleBody {
	height: 91vh;
}

.singleheader {
	width: 90%;
	margin: auto;
}

.btn {
	font-weight: 700;
}

.banner {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(53, 58, 64, 0.7399334733893557) 90%,
			rgba(53, 58, 64, 1) 98%
		),
		URL("./img/covers/artist/QUEEN.jpg");
}

.coverUI {
	position: relative;
	width: 30%;
	height: auto;
	margin: auto;
	top: 50%;
}

.artistName {
	font-size: 96px;
	font-weight: 700;
	color: white;
}

/*#region top bar*/
.top-link {
	padding-left: 2rem;
	color: grey;
}
.section {
	width: auto;
	height: 300px; /* debug value*/
	margin: 0;
	padding: 0;
	/*background-color: grey;*/
}

.selector {
	width: fit-content;
	margin: auto;
	font-weight: 700;
}

.selector hr {
	height: 0.25rem;
	width: 20%;
	margin: 0;
	background: tomato;
	border: none;
	transition: 0.3s ease-in-out;
}
/*#region card*/
.voice {
	max-width: 227px;
	background-color: rgba(255, 255, 255, 0);
	border-style: none;
	color: whitesmoke;
	text-align: center;
	padding: 5px;
}

.infoBox {
	width: 100%;
}

.voice .card-body {
	max-width: 222px;
}
.voice:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.open {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	color: #fff;
	background-color: #1db954;
	border-radius: 50%;
	justify-content: center;
	align-content: center;

	/*margin-right: 0;
	margin-left: auto;*/
}

.voice:hover .open {
	display: block;
}

.open svg {
	margin-top: 25%;
	height: 50%;
}

iframe {
	border-style: none;
}
/*#endregion*/
/*#endregion*/
/*#endregion*/
