/*#region redefinions for the sidebar*/
/*#endregion*/
/*#region bodystyles*/
/*#endregion*/
/*region footer-player*/
.footer-player {
  height: 70px;
  color: white;
  background-color: black;
}
/*endregion*/
