/*#region bodystyles*/
body {
	height: 99vh;
	line-height: 1.4; /*somehow this fixes the scrolling on chrome*/
}

.singleBody {
	height: 91vh;
}

.banner {
	height: 30vh;
	width: auto;
	height: fit-content;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(53, 58, 64, 0.7399334733893557) 68%,
		rgba(53, 58, 64, 1) 85%
	);
}

.banner img {
	position: relative;
	z-index: -1;
	height: 30;
	width: 100%;
}

/*#region top bar*/
.top-link {
	padding-left: 2rem;
	color: grey;
}
.section {
	width: auto;
	height: 300px; /* debug value*/
	margin: 0;
	padding: 0;
	/*background-color: grey;*/
}

.selector {
	width: fit-content;
	margin: auto;
}
/*#region card*/
.voice {
	background-color: rgba(255, 255, 255, 0);
	border-style: none;
	color: whitesmoke;
	text-align: center;
	padding: 5px;
}

.voice .card-body {
	max-width: 222px;
}
.voice:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.open {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	color: #fff;
	background-color: #1db954;
	border-radius: 50%;
	justify-content: center;
	align-content: center;

	/*margin-right: 0;
	margin-left: auto;*/
}

.voice:hover .open {
	display: block;
}

.open svg {
	margin-top: 25%;
	height: 50%;
}
/*#endregion*/
/*#endregion*/
/*#endregion*/
